*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
}
.hero{
    background-image: linear-gradient(to top, rgba(251, 194, 235, 0.253) 0%, rgba(166, 192, 238, 0.692) 100%), url("../img/header.jpeg");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow:hidden;
}
.textos-hero{
    height: 500px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textos-hero h1{
    font-size: 60px;
}
.textos-hero p{
    font-size: 25px;
    margin-bottom: 25px;
}
.textos-hero a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    
    border-radius: 8px;
    color: white;
}
.svg-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.contenedor,
.wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}
.contenedor{
    padding: 80px 0;
}
.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.titulo.left{
    text-align: left;
}
.titulo.right{
    text-align: right;
}
.website{
    display: flex;
    justify-content: space-between;
}
.website img{
    width: 48%;
}
.website .contenedor-textos-main{
    width: 40%;
}
.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}
.info{
    background: #f5576c;
    color: white;
}
.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cards{
    width: 30%;
    text-align: center;
    height: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0.5);
    transform: scale(1);
    transition: transform 0.6s;
}
.cards:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0.5);
    transform: scale(1.03);
    cursor: pointer;
}
.cards i{
    margin: 30px 0 20px 0;
    color: #cc9199;
    font-size: 50px;
}
.cards p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 1px;
}
.galeria{
    background: #f2f2f2;
}
.galeria-cont{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
}
.galeria-cont>img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0.5);
    cursor: pointer;
    overflow: hidden;
}

.btn{
    background-color: #01e675;
    width: 200px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 3 0 rgba(0, 0, 0.5);
    font-size: 22px;
}